<!DOCTYPE html>
<html>
<head>

<title>“Demo App | <%= yield(:title) %></title>
<meta name="description" content="This is the" + <%= yield(:user) %>+ "page">
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>




</head>
<body>
<h4>Something that will be in a few pages but not all.</h4>!
<%= yield %>
</body>
</html>